header {
	text-align: center;
	background-color: #7B1FA2;
	height: 170px;
}

#primeira-parte {
	height: 550px;
	background-color: transparent;
}
.divi {
	background-image: url('..//imagens/imgf.png');
	background-repeat: no-repeat;
	height: 550px;
	width: 1440px;
	margin: 0 auto;
}




#segunda-parte {
	height: 700px;
	background-color: black;
}
#divisao {
	background-color: #3B2A43;
	height: 15px;
}




































































































































































































































































































.textoc {
	width: 830px;
	height: 450px;
	background-color: #636363;
	border-radius: 60px;
	color: white;
	margin: 0 auto;
	margin-top: 0px;
	position: relative;
	top: 60px;
	display: flex;
}

#terceira-parte{
	height: 700px;
	background-color: #3B2A43;
}

.textoup{
	width: 830px;
	height: 52px;
	background-color: #7B1FA2;
	border-radius: 60px;
}

.textoesq{
	font-style: normal;
font-weight: 400;
line-height: 58px;
text-align: center;
color: #FFFFFF;
}

.textodir{
	font-style: normal;
font-weight: 400;
line-height: 58px;
text-align: center;
color: #FFFFFF;
}

#imagenvari{
	height: 225px;
	width: 385px;
}

#imagenqua{
	height: 225px;
	width: 385px;
}

