header {
	text-align: center;
	background-color: #7B1FA2;
}

#secao1 {
	height: 600px;
	background-color: #3B2A43;
}
.divi {
	width: 1440px;
	height: 600px;
	margin: 0 auto;

}
.divv {
	height: 600px;
	background-color: transparent;
	margin: 0 auto;
}







































































































































































































































































































